docs/NodeRed-Export.json
[
    {
        "id": "94337aafa3acc7ad",
        "type": "tab",
        "label": "Terasse",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2ef175a0a59d538e",
        "type": "suncron",
        "z": "94337aafa3acc7ad",
        "name": "Sonnenuntergang",
        "lat": "51.93847060895348",
        "lon": "7.601013640104561",
        "replay": false,
        "ejectScheduleOnUpdate": false,
        "sunrisePayload": "",
        "sunrisePayloadType": "str",
        "sunriseTopic": "",
        "sunriseOffsetType": 1,
        "sunriseOffsetHours": 0,
        "sunriseOffsetMinutes": 0,
        "sunriseOffset": 0,
        "sunriseEndPayload": "",
        "sunriseEndPayloadType": "str",
        "sunriseEndTopic": "",
        "sunriseEndOffsetType": 1,
        "sunriseEndOffsetHours": 0,
        "sunriseEndOffsetMinutes": 0,
        "sunriseEndOffset": 0,
        "goldenHourEndPayload": "",
        "goldenHourEndPayloadType": "str",
        "goldenHourEndTopic": "",
        "goldenHourEndOffsetType": 1,
        "goldenHourEndOffsetHours": 0,
        "goldenHourEndOffsetMinutes": 0,
        "goldenHourEndOffset": 0,
        "solarNoonPayload": "",
        "solarNoonPayloadType": "str",
        "solarNoonTopic": "",
        "solarNoonOffsetType": 1,
        "solarNoonOffsetHours": 0,
        "solarNoonOffsetMinutes": 0,
        "solarNoonOffset": 0,
        "goldenHourPayload": "",
        "goldenHourPayloadType": "str",
        "goldenHourTopic": "",
        "goldenHourOffsetType": 1,
        "goldenHourOffsetHours": 0,
        "goldenHourOffsetMinutes": 0,
        "goldenHourOffset": 0,
        "sunsetStartPayload": "",
        "sunsetStartPayloadType": "str",
        "sunsetStartTopic": "",
        "sunsetStartOffsetType": 1,
        "sunsetStartOffsetHours": 0,
        "sunsetStartOffsetMinutes": 0,
        "sunsetStartOffset": 0,
        "sunsetPayload": "{\"target\":[\"sunblindright\",\"sunblindleft\",\"shutterleft\",\"shutterright\"],\"action\":\"retractfull\"}",
        "sunsetPayloadType": "json",
        "sunsetTopic": "Sonnenuntergang",
        "sunsetOffsetType": 1,
        "sunsetOffsetHours": 0,
        "sunsetOffsetMinutes": "5",
        "sunsetOffset": "300",
        "duskPayload": "",
        "duskPayloadType": "str",
        "duskTopic": "",
        "duskOffsetType": 1,
        "duskOffsetHours": 0,
        "duskOffsetMinutes": 0,
        "duskOffset": 0,
        "nauticalDuskPayload": "",
        "nauticalDuskPayloadType": "str",
        "nauticalDuskTopic": "",
        "nauticalDuskOffsetType": 1,
        "nauticalDuskOffsetHours": 0,
        "nauticalDuskOffsetMinutes": 0,
        "nauticalDuskOffset": 0,
        "nightPayload": "",
        "nightPayloadType": "str",
        "nightTopic": "",
        "nightOffsetType": 1,
        "nightOffsetHours": 0,
        "nightOffsetMinutes": 0,
        "nightOffset": 0,
        "nadirPayload": "",
        "nadirPayloadType": "str",
        "nadirTopic": "",
        "nadirOffsetType": 1,
        "nadirOffsetHours": 0,
        "nadirOffsetMinutes": 0,
        "nadirOffset": 0,
        "nightEndPayload": "",
        "nightEndPayloadType": "str",
        "nightEndTopic": "",
        "nightEndOffsetType": 1,
        "nightEndOffsetHours": 0,
        "nightEndOffsetMinutes": 0,
        "nightEndOffset": 0,
        "nauticalDawnPayload": "",
        "nauticalDawnPayloadType": "str",
        "nauticalDawnTopic": "",
        "nauticalDawnOffsetType": 1,
        "nauticalDawnOffsetHours": 0,
        "nauticalDawnOffsetMinutes": 0,
        "nauticalDawnOffset": 0,
        "dawnPayload": "",
        "dawnPayloadType": "str",
        "dawnTopic": "",
        "dawnOffsetType": 1,
        "dawnOffsetHours": 0,
        "dawnOffsetMinutes": 0,
        "dawnOffset": 0,
        "x": 470,
        "y": 800,
        "wires": [
            [
                "cbda4ad066807738"
            ]
        ]
    },
    {
        "id": "cbda4ad066807738",
        "type": "q-gate",
        "z": "94337aafa3acc7ad",
        "name": "",
        "controlTopic": "Somfy Queue",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "20",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 950,
        "y": 940,
        "wires": [
            [
                "189c6d83f775b4ef",
                "0901f81be46c4dbb"
            ]
        ]
    },
    {
        "id": "db5d594960218d0b",
        "type": "http request",
        "z": "94337aafa3acc7ad",
        "name": "ESP8266 RestAPI",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://SomfyRestAPI.fritz.box/action",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1450,
        "y": 940,
        "wires": [
            [
                "74a6062686db64fe"
            ]
        ]
    },
    {
        "id": "189c6d83f775b4ef",
        "type": "function",
        "z": "94337aafa3acc7ad",
        "name": "ESP8266 RestAPI Request Func",
        "func": "var payload = msg.payload\nmsg.payload = payload\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['Authorization'] = 'Basic c29tZnl1c2VyOnNvbXNlYw=='\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 940,
        "wires": [
            [
                "db5d594960218d0b"
            ]
        ]
    },
    {
        "id": "74a6062686db64fe",
        "type": "ui_text",
        "z": "94337aafa3acc7ad",
        "group": "ad8f979f4eb39d49",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Letzte Aktion",
        "format": "{{msg.statusCode}} {{msg.payload.status}}",
        "layout": "row-spread",
        "className": "",
        "x": 1650,
        "y": 900,
        "wires": []
    },
    {
        "id": "0686d64be7105021",
        "type": "ui_dropdown",
        "z": "94337aafa3acc7ad",
        "name": "Licht",
        "label": "Licht",
        "tooltip": "",
        "place": "Auswahl",
        "group": "91216545db1a6f8f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Einschalten",
                "value": "on",
                "type": "str"
            },
            {
                "label": "Ausschalten",
                "value": "off",
                "type": "str"
            },
            {
                "label": "Favorit",
                "value": "my",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 430,
        "y": 940,
        "wires": [
            [
                "463766b891e88bd2"
            ]
        ]
    },
    {
        "id": "463766b891e88bd2",
        "type": "function",
        "z": "94337aafa3acc7ad",
        "name": "Licht Schalter",
        "func": "msg.payload = {\"target\":[\"light\"],\"action\": msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 940,
        "wires": [
            [
                "cbda4ad066807738"
            ]
        ]
    },
    {
        "id": "55963ad04207f10f",
        "type": "ui_dropdown",
        "z": "94337aafa3acc7ad",
        "name": "",
        "label": "Alles bewegen",
        "tooltip": "",
        "place": "Auswahl",
        "group": "ad8f979f4eb39d49",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Einfahren",
                "value": "retractfull",
                "type": "str"
            },
            {
                "label": "Ausfahren",
                "value": "extendfull",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 460,
        "y": 1000,
        "wires": [
            [
                "fafa0b50f1406a84"
            ]
        ]
    },
    {
        "id": "fafa0b50f1406a84",
        "type": "function",
        "z": "94337aafa3acc7ad",
        "name": "Markisen/Rollo Schalter",
        "func": "msg.payload = {\"target\":[\"sunblindright\",\"sunblindleft\",\"shutterleft\",\"shutterright\"],\"action\": msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 1000,
        "wires": [
            [
                "cbda4ad066807738"
            ]
        ]
    },
    {
        "id": "62af99d5fce127e4",
        "type": "ui_button",
        "z": "94337aafa3acc7ad",
        "name": "",
        "group": "ad8f979f4eb39d49",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "My-Taste",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 440,
        "y": 860,
        "wires": [
            [
                "dfe61e95c6d6ac54"
            ]
        ]
    },
    {
        "id": "8138db803fa58536",
        "type": "function",
        "z": "94337aafa3acc7ad",
        "name": "ESP8266 RestAPI Request Func",
        "func": "var payload = msg.payload\nmsg.payload = payload\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['Authorization'] = 'Basic c29tZnl1c2VyOnNvbXNlYw=='\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 860,
        "wires": [
            [
                "991434ad69b11313"
            ]
        ]
    },
    {
        "id": "dfe61e95c6d6ac54",
        "type": "q-gate",
        "z": "94337aafa3acc7ad",
        "name": "",
        "controlTopic": "Somfy Queue",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "20",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 950,
        "y": 860,
        "wires": [
            [
                "8138db803fa58536"
            ]
        ]
    },
    {
        "id": "991434ad69b11313",
        "type": "http request",
        "z": "94337aafa3acc7ad",
        "name": "ESP8266 RestAPI",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://SomfyRestAPI.fritz.box/my",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1450,
        "y": 860,
        "wires": [
            [
                "74a6062686db64fe"
            ]
        ]
    },
    {
        "id": "ec1e0cb9ea80cd31",
        "type": "ui_dropdown",
        "z": "94337aafa3acc7ad",
        "name": "",
        "label": "Alle Markisen",
        "tooltip": "",
        "place": "Auswahl",
        "group": "b90eabdd81a23d5d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "10% Einfahren",
                "value": "retract10",
                "type": "str"
            },
            {
                "label": "10% Ausfahren",
                "value": "extend10",
                "type": "str"
            },
            {
                "label": "Auf die Hälfte",
                "value": "halb",
                "type": "str"
            },
            {
                "label": "Einfahren",
                "value": "retractfull",
                "type": "str"
            },
            {
                "label": "Ausfahren",
                "value": "extractfull",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 460,
        "y": 1120,
        "wires": [
            [
                "9b4619dfc6f45191"
            ]
        ]
    },
    {
        "id": "9b4619dfc6f45191",
        "type": "function",
        "z": "94337aafa3acc7ad",
        "name": "Markisen Schalter",
        "func": "msg.payload = {\"target\":[\"sunblindright\",\"sunblindleft\"],\"action\": msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1120,
        "wires": [
            [
                "cbda4ad066807738"
            ]
        ]
    },
    {
        "id": "a863468895c1607d",
        "type": "ui_dropdown",
        "z": "94337aafa3acc7ad",
        "name": "",
        "label": "Alle Rollos",
        "tooltip": "",
        "place": "Auswahl",
        "group": "2a1f055cd189c1dd",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "10% Einfahren",
                "value": "retract10",
                "type": "str"
            },
            {
                "label": "10% Ausfahren",
                "value": "extend10",
                "type": "str"
            },
            {
                "label": "Auf die Hälfte",
                "value": "halb",
                "type": "str"
            },
            {
                "label": "Einfahren",
                "value": "retractfull",
                "type": "str"
            },
            {
                "label": "Ausfahren",
                "value": "extendfull",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 450,
        "y": 1160,
        "wires": [
            [
                "531cb9c8c54650b6"
            ]
        ]
    },
    {
        "id": "531cb9c8c54650b6",
        "type": "function",
        "z": "94337aafa3acc7ad",
        "name": "Rollo Schalter",
        "func": "msg.payload = {\"target\":[\"shutterright\",\"shutterleft\"],\"action\": msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1160,
        "wires": [
            [
                "cbda4ad066807738"
            ]
        ]
    },
    {
        "id": "b500267e6a57c63e",
        "type": "ui_dropdown",
        "z": "94337aafa3acc7ad",
        "name": "",
        "label": "Rollo rechts",
        "tooltip": "",
        "place": "Auswahl",
        "group": "2a1f055cd189c1dd",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Einfahren",
                "value": "retractfull",
                "type": "str"
            },
            {
                "label": "Ausfahren",
                "value": "extendfull",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 450,
        "y": 1240,
        "wires": [
            [
                "5a06d8c44ab07db9"
            ]
        ]
    },
    {
        "id": "5a06d8c44ab07db9",
        "type": "function",
        "z": "94337aafa3acc7ad",
        "name": "Rollo Schalter rechts",
        "func": "msg.payload = {\"target\":[\"shutterright\"],\"action\": msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1240,
        "wires": [
            [
                "cbda4ad066807738"
            ]
        ]
    },
    {
        "id": "887d836c8ee1d50a",
        "type": "ui_dropdown",
        "z": "94337aafa3acc7ad",
        "name": "",
        "label": "Rollo links",
        "tooltip": "",
        "place": "Auswahl",
        "group": "2a1f055cd189c1dd",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Einfahren",
                "value": "retractfull",
                "type": "str"
            },
            {
                "label": "Ausfahren",
                "value": "extendfull",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 450,
        "y": 1280,
        "wires": [
            [
                "91448c4045e1c35c"
            ]
        ]
    },
    {
        "id": "91448c4045e1c35c",
        "type": "function",
        "z": "94337aafa3acc7ad",
        "name": "Rollo Schalter links",
        "func": "msg.payload = {\"target\":[\"shutterleft\"],\"action\": msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1280,
        "wires": [
            [
                "cbda4ad066807738"
            ]
        ]
    },
    {
        "id": "2d0898d14f78f23a",
        "type": "ui_dropdown",
        "z": "94337aafa3acc7ad",
        "name": "",
        "label": "Markise rechts",
        "tooltip": "",
        "place": "Auswahl",
        "group": "b90eabdd81a23d5d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Einfahren",
                "value": "retractfull",
                "type": "str"
            },
            {
                "label": "Ausfahren",
                "value": "extendfull",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 460,
        "y": 1340,
        "wires": [
            [
                "d5e14bd651332112"
            ]
        ]
    },
    {
        "id": "d5e14bd651332112",
        "type": "function",
        "z": "94337aafa3acc7ad",
        "name": "Markisen Schalter rechts",
        "func": "msg.payload = {\"target\":[\"sunblindright\"],\"action\": msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 1340,
        "wires": [
            [
                "cbda4ad066807738"
            ]
        ]
    },
    {
        "id": "af9ff309273e8b9f",
        "type": "ui_dropdown",
        "z": "94337aafa3acc7ad",
        "name": "",
        "label": "Markise links",
        "tooltip": "",
        "place": "Auswahl",
        "group": "b90eabdd81a23d5d",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Einfahren",
                "value": "retractfull",
                "type": "str"
            },
            {
                "label": "Ausfahren",
                "value": "extendfull",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 450,
        "y": 1380,
        "wires": [
            [
                "9e15dcc5fec6a213"
            ]
        ]
    },
    {
        "id": "9e15dcc5fec6a213",
        "type": "function",
        "z": "94337aafa3acc7ad",
        "name": "Markisen Schalter links",
        "func": "msg.payload = {\"target\":[\"sunblindleft\"],\"action\": msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 1380,
        "wires": [
            [
                "cbda4ad066807738"
            ]
        ]
    },
    {
        "id": "0901f81be46c4dbb",
        "type": "delay",
        "z": "94337aafa3acc7ad",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1000,
        "y": 1040,
        "wires": [
            [
                "7ae87c8b493464c3"
            ]
        ]
    },
    {
        "id": "7ae87c8b493464c3",
        "type": "function",
        "z": "94337aafa3acc7ad",
        "name": "Sende leere MSG",
        "func": "msg.payload = \"\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1100,
        "wires": [
            [
                "0686d64be7105021",
                "55963ad04207f10f",
                "ec1e0cb9ea80cd31",
                "a863468895c1607d",
                "b500267e6a57c63e",
                "2d0898d14f78f23a",
                "af9ff309273e8b9f",
                "887d836c8ee1d50a"
            ]
        ]
    },
    {
        "id": "ad8f979f4eb39d49",
        "type": "ui_group",
        "name": "Allgemein",
        "tab": "1a503de3.a88f6a",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "91216545db1a6f8f",
        "type": "ui_group",
        "name": "Licht",
        "tab": "1a503de3.a88f6a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b90eabdd81a23d5d",
        "type": "ui_group",
        "name": "Markisen",
        "tab": "1a503de3.a88f6a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2a1f055cd189c1dd",
        "type": "ui_group",
        "name": "Rolladen",
        "tab": "1a503de3.a88f6a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1a503de3.a88f6a",
        "type": "ui_tab",
        "name": "Terasse",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
