docs/NodeRed-Export.json
[
    {
        "id": "94337aafa3acc7ad",
        "type": "tab",
        "label": "Terasse",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2ef175a0a59d538e",
        "type": "suncron",
        "z": "94337aafa3acc7ad",
        "name": "Sonnenuntergang",
        "lat": "51.93847060895348",
        "lon": "7.601013640104561",
        "replay": false,
        "ejectScheduleOnUpdate": false,
        "sunrisePayload": "",
        "sunrisePayloadType": "str",
        "sunriseTopic": "",
        "sunriseOffsetType": 1,
        "sunriseOffsetHours": 0,
        "sunriseOffsetMinutes": 0,
        "sunriseOffset": 0,
        "sunriseEndPayload": "",
        "sunriseEndPayloadType": "str",
        "sunriseEndTopic": "",
        "sunriseEndOffsetType": 1,
        "sunriseEndOffsetHours": 0,
        "sunriseEndOffsetMinutes": 0,
        "sunriseEndOffset": 0,
        "goldenHourEndPayload": "",
        "goldenHourEndPayloadType": "str",
        "goldenHourEndTopic": "",
        "goldenHourEndOffsetType": 1,
        "goldenHourEndOffsetHours": 0,
        "goldenHourEndOffsetMinutes": 0,
        "goldenHourEndOffset": 0,
        "solarNoonPayload": "",
        "solarNoonPayloadType": "str",
        "solarNoonTopic": "",
        "solarNoonOffsetType": 1,
        "solarNoonOffsetHours": 0,
        "solarNoonOffsetMinutes": 0,
        "solarNoonOffset": 0,
        "goldenHourPayload": "",
        "goldenHourPayloadType": "str",
        "goldenHourTopic": "",
        "goldenHourOffsetType": 1,
        "goldenHourOffsetHours": 0,
        "goldenHourOffsetMinutes": 0,
        "goldenHourOffset": 0,
        "sunsetStartPayload": "",
        "sunsetStartPayloadType": "str",
        "sunsetStartTopic": "",
        "sunsetStartOffsetType": 1,
        "sunsetStartOffsetHours": 0,
        "sunsetStartOffsetMinutes": 0,
        "sunsetStartOffset": 0,
        "sunsetPayload": "{\"target\":[\"sunblindright\",\"sunblindleft\",\"shutterleft\",\"shutterright\"],\"action\":\"retractfull\"}",
        "sunsetPayloadType": "json",
        "sunsetTopic": "Sonnenuntergang",
        "sunsetOffsetType": 1,
        "sunsetOffsetHours": 0,
        "sunsetOffsetMinutes": "5",
        "sunsetOffset": "300",
        "duskPayload": "",
        "duskPayloadType": "str",
        "duskTopic": "",
        "duskOffsetType": 1,
        "duskOffsetHours": 0,
        "duskOffsetMinutes": 0,
        "duskOffset": 0,
        "nauticalDuskPayload": "",
        "nauticalDuskPayloadType": "str",
        "nauticalDuskTopic": "",
        "nauticalDuskOffsetType": 1,
        "nauticalDuskOffsetHours": 0,
        "nauticalDuskOffsetMinutes": 0,
        "nauticalDuskOffset": 0,
        "nightPayload": "",
        "nightPayloadType": "str",
        "nightTopic": "",
        "nightOffsetType": 1,
        "nightOffsetHours": 0,
        "nightOffsetMinutes": 0,
        "nightOffset": 0,
        "nadirPayload": "",
        "nadirPayloadType": "str",
        "nadirTopic": "",
        "nadirOffsetType": 1,
        "nadirOffsetHours": 0,
        "nadirOffsetMinutes": 0,
        "nadirOffset": 0,
        "nightEndPayload": "",
        "nightEndPayloadType": "str",
        "nightEndTopic": "",
        "nightEndOffsetType": 1,
        "nightEndOffsetHours": 0,
        "nightEndOffsetMinutes": 0,
        "nightEndOffset": 0,
        "nauticalDawnPayload": "",
        "nauticalDawnPayloadType": "str",
        "nauticalDawnTopic": "",
        "nauticalDawnOffsetType": 1,
        "nauticalDawnOffsetHours": 0,
        "nauticalDawnOffsetMinutes": 0,
        "nauticalDawnOffset": 0,
        "dawnPayload": "",
        "dawnPayloadType": "str",
        "dawnTopic": "",
        "dawnOffsetType": 1,
        "dawnOffsetHours": 0,
        "dawnOffsetMinutes": 0,
        "dawnOffset": 0,
        "x": 250,
        "y": 360,
        "wires": [
            [
                "cbda4ad066807738"
            ]
        ]
    },
    {
        "id": "cbda4ad066807738",
        "type": "q-gate",
        "z": "94337aafa3acc7ad",
        "name": "",
        "controlTopic": "Somfy Queue",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "20",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 890,
        "y": 400,
        "wires": [
            [
                "189c6d83f775b4ef"
            ]
        ]
    },
    {
        "id": "880f53bb904eb2b6",
        "type": "ui_button",
        "z": "94337aafa3acc7ad",
        "name": "",
        "group": "91216545db1a6f8f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Licht an",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-arrow-circle-up",
        "payload": "{\"target\":[\"light\"],\"action\":\"on\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 420,
        "y": 440,
        "wires": [
            [
                "cbda4ad066807738"
            ]
        ]
    },
    {
        "id": "6421636f6c8cc6f1",
        "type": "ui_button",
        "z": "94337aafa3acc7ad",
        "name": "",
        "group": "91216545db1a6f8f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Licht aus",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-arrow-circle-down",
        "payload": "{\"target\":[\"light\"],\"action\":\"off\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 420,
        "y": 520,
        "wires": [
            [
                "cbda4ad066807738"
            ]
        ]
    },
    {
        "id": "be71037db639c5de",
        "type": "ui_button",
        "z": "94337aafa3acc7ad",
        "name": "",
        "group": "b90eabdd81a23d5d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Alle Markisen/Rolladen einfahren",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"target\":[\"sunblindright\",\"sunblindleft\",\"shutterleft\",\"shutterright\"],\"action\":\"retractfull\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 500,
        "y": 580,
        "wires": [
            [
                "cbda4ad066807738"
            ]
        ]
    },
    {
        "id": "ecb79759eab32856",
        "type": "ui_button",
        "z": "94337aafa3acc7ad",
        "name": "",
        "group": "b90eabdd81a23d5d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Alle Markisen ganz ausfahren",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"target\":[\"sunblindright\",\"sunblindleft\"],\"action\":\"extendfull\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 620,
        "wires": [
            [
                "cbda4ad066807738"
            ]
        ]
    },
    {
        "id": "d1512590e878bf98",
        "type": "ui_button",
        "z": "94337aafa3acc7ad",
        "name": "",
        "group": "b90eabdd81a23d5d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Alle Markisen +10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"target\":[\"sunblindright\",\"sunblindleft\"],\"action\":\"extend10\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 460,
        "y": 680,
        "wires": [
            [
                "cbda4ad066807738"
            ]
        ]
    },
    {
        "id": "acc59a9945d6c9e9",
        "type": "ui_button",
        "z": "94337aafa3acc7ad",
        "name": "",
        "group": "b90eabdd81a23d5d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Alle Markisen -10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"target\":[\"sunblindright\",\"sunblindleft\"],\"action\":\"retract10\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 720,
        "wires": [
            [
                "cbda4ad066807738"
            ]
        ]
    },
    {
        "id": "fb5ba94f22a21ad6",
        "type": "ui_button",
        "z": "94337aafa3acc7ad",
        "name": "",
        "group": "b90eabdd81a23d5d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Alle Markisen 50%",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"target\":[\"sunblindright\",\"sunblindleft\"],\"action\":\"half\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 760,
        "wires": [
            [
                "cbda4ad066807738"
            ]
        ]
    },
    {
        "id": "a8d37e90ae4a4a5e",
        "type": "ui_button",
        "z": "94337aafa3acc7ad",
        "name": "",
        "group": "2a1f055cd189c1dd",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Alle Rolladen +10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"target\":[\"shutterleft\", \"shutterright\"],\"action\":\"extend10\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 820,
        "wires": [
            [
                "cbda4ad066807738"
            ]
        ]
    },
    {
        "id": "0f36405315b99ed9",
        "type": "ui_button",
        "z": "94337aafa3acc7ad",
        "name": "",
        "group": "2a1f055cd189c1dd",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Alle Rolladen -10%",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"target\":[\"shutterleft\", \"shutterright\"],\"action\":\"retract10\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 860,
        "wires": [
            [
                "cbda4ad066807738"
            ]
        ]
    },
    {
        "id": "ea04f1b6d0dad2f4",
        "type": "ui_button",
        "z": "94337aafa3acc7ad",
        "name": "",
        "group": "2a1f055cd189c1dd",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Alle Rolladen 50%",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"target\":[\"shutterleft\", \"shutterright\"],\"action\":\"half\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 900,
        "wires": [
            [
                "cbda4ad066807738"
            ]
        ]
    },
    {
        "id": "dbbd482ad20dacdf",
        "type": "ui_button",
        "z": "94337aafa3acc7ad",
        "name": "",
        "group": "91216545db1a6f8f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Licht dimmen",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-arrow-circle-down",
        "payload": "{\"target\":[\"light\"],\"action\":\"my\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 480,
        "wires": [
            [
                "cbda4ad066807738"
            ]
        ]
    },
    {
        "id": "db5d594960218d0b",
        "type": "http request",
        "z": "94337aafa3acc7ad",
        "name": "ESP8266 RestAPI",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://SomfyRestAPI.fritz.box/action",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1350,
        "y": 520,
        "wires": [
            [
                "74a6062686db64fe"
            ]
        ]
    },
    {
        "id": "189c6d83f775b4ef",
        "type": "function",
        "z": "94337aafa3acc7ad",
        "name": "ESP8266 RestAPI Request Func",
        "func": "var payload = msg.payload\nmsg.payload = payload\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['Authorization'] = 'Basic c29tZnl1c2VyOnNvbXNlYw=='\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 520,
        "wires": [
            [
                "db5d594960218d0b"
            ]
        ]
    },
    {
        "id": "74a6062686db64fe",
        "type": "ui_text",
        "z": "94337aafa3acc7ad",
        "group": "91216545db1a6f8f",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Letzte Aktion",
        "format": "{{msg.statusCode}} {{msg.payload.status}}",
        "layout": "row-spread",
        "className": "",
        "x": 1610,
        "y": 520,
        "wires": []
    },
    {
        "id": "91216545db1a6f8f",
        "type": "ui_group",
        "name": "Licht",
        "tab": "1a503de3.a88f6a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b90eabdd81a23d5d",
        "type": "ui_group",
        "name": "Markisen",
        "tab": "1a503de3.a88f6a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2a1f055cd189c1dd",
        "type": "ui_group",
        "name": "Rolladen",
        "tab": "1a503de3.a88f6a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1a503de3.a88f6a",
        "type": "ui_tab",
        "name": "Terasse",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
